<!DOCTYPE html>
<html lang="en" style="background-color: rgba(253, 129, 237, 0.856); height: 100%; margin: 0;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Madison Wins!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/app.css">
    </head>

    <body>
        <div class="container">
            <h1 class="has-text-centered" style="font-size: 3em">Madison Wins!</h1>

            <div class="is-centered">
                <figure class="image">
                <img class="is-rounded mx-auto" src="../media/michael-scott.gif" id="win-gif">
                </figure>
            </div>

            <div class=" columns is-centered">
                <audio controls autoplay>
                <source src="../media/SweetVictory.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
            </div>

            <div class=" columns is-centered">
                <a href="../views/index.html" style="font-size: 3em; margin-right: 20px">New Game?</a> 
                <a href="/hallOfFame" style="font-size: 3em">Hall of Fame?</a>
            </div>
            
        </div>
    </body>
</html>
